body {
  margin: 0 auto;
  text-align: center;
  background: url(../img/ice.png) center center repeat;
}

.title-logo {
  margin: 100px auto 20px;
  width: 80%;
  max-width: 500px;
}

.title-logo img {
  width: 100%;
}

.teams-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px auto;
}

.teams-container .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 7px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.teams-container .team.eliminated img {
  opacity: 0.25;
}

.teams-container .team.eliminated a {
  cursor: not-allowed;
}

.teams-container .team img {
  width: 100%;
}

@media (min-width: 769px) {
  .teams-container {
    width: 90%;
    max-width: 1130px;
  }
  .teams-container .team {
    width: 100px;
    height: 100px;
    padding: 15px;
  }
}